@model IEnumerable<ProyectoPulperia.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="row row-cols-1 row-cols-md-3" style="padding-top:2em;">
    @foreach (var item in Model)
    {
        <div class="col-4" style="padding-top:2em;">
            <div class="card text-center mx-auto text-white" style="width:20rem; background-color:#8fbc8f; border-radius:21px!important">
                <div class="card-body">
                    <div class="card-title text-center">
                        <p>@Html.DisplayFor(modelItem => item.NOMBREPRODUCTO)</p>
                    </div>
                    Precio: @Html.DisplayFor(modelItem => item.PRECIOPRODUCTO)
                    <br />
                    Categoria: @Html.DisplayFor(modelItem => item.Categoria.NOMBRECATEGORIA)
                    <br />
                    Marca: @Html.DisplayFor(modelItem => item.Marca.NOMBREMARCA)
                    <br />
                    <a href="@Url.Action("Create","Carrito", new { id = item.IDPRODUCTO})" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    }
</div>

